:root {
  --primary-color: #e2f3f5;
  --white-color: #fff;
  --black-color: #000;
  --light-grey: #d9d9d9;
  --medium-grey: #aea9b1;
  --dark-grey: #1b2c2e;
  --darken-grey: #1d1b20;
  --darken-grey-inactive-btn: #49454f;
  --darken-grey-active-btn: rgba(29, 27, 32, 0.12);
  --grey-backgroud: #cacaca;
  --light-grey-background: #ebebeb;
  --grey-tag: #48464c;
}
