body {
  font-family: var(--font-family-main);
  font-size: 16px;
  overflow-x: hidden;
}

a {
  transition: 0.2s;
}

a:hover {
  text-decoration: underline;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of visible lines */
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
