@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --font-family-main: "Roboto", sans-serif;
  --button-letter-spacing: 0.1px;
  --button-line-height: 20px;

  --tab-title-line-height: 1.25;
  --tab-title-letter-spacing: 0.01em;
  --tab-text-line-height: 1.5;

  --carousel-dot-width: 16px;
}
